aiofiles
apscheduler
beautifulsoup4==4.12.2
bcrypt==3.2.2
fastapi
httpx
passlib
pillow==10.3.0
pillow-heif==0.16.0
pydantic
python-jose
python-dotenv
python-jwt
fastapi-mail
python-multipart
sqlalchemy
uvicorn
psycopg2-binary
email-validator
