.header {
    color: #1a77a5;
}


.backButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


